.Pagination {
    display: flex;
    justify-content: center;
}

.Page{
    border: 1px solid slategray;
    margin: 0 2px;
    border-radius: 10px;
    padding: 10px;
    max-width: 30px;
    width: fit-content;
    overflow: hidden;
    text-overflow: ellipsis;
}
.Page:hover {
    cursor: pointer;
    background: #ccc
}
.Page.current {
      color: red
}
